<%= form_for @conn, chat_path(@conn, :show), [as: :join, method: :get], fn f -> %>
  <%= text_input f, :username, placeholder: "Your username", required: true %>
  <br/>
  <%= text_input f, :room, value: "lobby", placeholder: "Room", required: true %>
  <br/>
  <%= submit "Join" %>
<% end %>